<html>
    <body>
        <!-- Div for displaying login result -->
        <div id = "login-result"> 

        </div>

        <form id = "login-form">
            <input type="text" name = "username" placeholder="username"> 
            <input type="text" name = "password" placeholder="password"> 
            <select name = "type"> 
                <option value="client">Client</option>
                <option value="cashier">Cashier/Collector</option>
                <option value="admin" >Admin</option>
            </select>
            <button onclick="handleLoginClick(event)"> Submit </button>
        </form>
    </body>

    <script>
        async function handleLoginClick(e){
            e.preventDefault(); 
            const form = document.getElementById("login-form")
            const formData = new FormData(form); 

            const response = await fetch("{% url 'server_login'%}", {
                method: "POST",
                body: formData,
                headers : {
                    'X-CSRFToken': "{{csrf_token}}"
                }
            }) 

            const data = await response.json()

            const login_status = data.status;

            console.log(data);

            if(login_status == 3){
                window.location.href = "{% url 'admin_index' %}"
            }

            if(login_status == 2){
                window.location.href = "{% url 'cashier_index' %}"
            }

            if(login_status == 1){
                window.location.href = "/"; 
            }

            if(login_status == 0){
                const login_result = document.getElementById("login-result");
                login_result.innerHTML = `<p style = "color : red"> Invalid credentials. Please try again! </p>`; 
            }
        }

      
    </script> 
</html