<html>

    {% include 'AgriTrust/import.html' %}
    {% include 'AgriTrust/css.html' %}

    <body> 
        {% include 'AgriTrust/header.html' %}
        <div class="client-info-div cont-body">

        <a href = "{% url 'client_list' %}"> &lt; Back </a> <br><br>

            <div class="cont">
                <div class="client-info-cont">
                    
                    <h3> {{client.fullname}} </h3>
            
                    <p> Contact Number : {{client.contact_number}} </p>
                    <p> Address : {{client.address}} </p>
                    <p> Work Details : {{client.work_details}} </p>
                    <p> Business : {{client.business}} </p>
                    <p> Co Maker : {{client.co_maker}} </p>
                </div>
            </div>

            <!-- loan info table  -->
            <div>
                <h3> Loan History </h3> 
                
                <table>
                    <tr >
                        <th> Loan ID </th>
                        <th> Amount </th>
                        <th> Interest Percentage </th>
                        <th> Loan Term </th>
                        <th> Total </th>
                        <th> Date Created </th>
                        <th> Date End </th>
                        <th> Status </th>
                    </tr>

                    {%for loan in loans%}
                        <tr onclick = "window.location.href='{% url 'loan_info' loan.id %}';">
                            <td> {{loan.id}} </td>
                            <td> {{loan.amount}} </td>
                            <td> {{loan.interest_percentage}} </td>
                            <td> {{loan.loan_term}} </td>
                            <td> {{loan.total}} </td>
                            <td> {{loan.date_created}} </td>
                            <td> {{loan.date_end}} </td>
                            <td> {{loan.status}} </td>
                        </tr>
                    {% endfor %}
                </table>
            
            </div>

            <!-- Payments table -->
            <div>
                <h3> Payments History </h3> 
                
                <table>
                    <tr >
                        <th> ID </th>
                        <th> Amount </th>
                        <th> Date </th>
                    </tr>

                    {%for payment in payments%}
                        <tr>
                            <td> {{payment.id}} </td>
                            <td> {{payment.amount}} </td>
                            <td> {{payment.date}} </td>
                        </tr>
                    {% endfor %}
                </table>
            
            </div>

        </div>
    </body>
<html>