<html>

    {% include 'AgriTrust/import.html' %}
    {% include 'AgriTrust/css.html' %}

    <style>
        .client-cont {
            display: flex;
            flex-direction: column;
            gap: 20px;

            table {
                th {
                    background-color: var(--txt1);
                    color: var(--txt3);
                }
            }
        }
    </style>

    <body> 
        {% include 'AgriTrust/header.html' with user=user %}

        <div class="clients-div cont-body">
        
            <h5> Clients </h5>

            <div class="cont">
                <div class="client-cont">

                    <div id = "action-result"> 

                    </div>

                    <div class="add-btn">
                        <button onclick="window.location.href='{% url 'client_add' %}';"> Add Client </button> 
                    </div>

                    <div class="filter-btn-div">
                        <div class="search-cont">
                            <i class="fa fa-search"></i>
                            <input type="text" oninput="handleSearchClient()" id="search-client" placeholder="Search Client"> 
                        </div>
                        <select id = "has-loan-select" oninput="handleSearchClient()"> 
                            <option value="all"> All </option>
                            <option value="has-loan"> Has Loan </option>
                            <option value="has-no-loan"> Has No Loan </option>
                        </select>
                    </div>
                    
                    <div>
                        <table id = "client-table-body" class="table table-bordered table-hover table-responsive selectable-row"> 
                            <tr> 
                                <th> <input type="checkbox" id="select-all" onclick="handleSelectAllClick()"> </th>
                                <th> ID </th>
                                <th>Client Name</th>
                                <th> Contact Number </th>
                                <th> Address </th>
                                <th> Has Loan </th>
                            </tr>
                                
                                {%for client in clients%}
                                <tr 
                                    class="client-row"
                                    onclick='redirectToClientInfo(event, {{client.id}})'
                                >   
                                    <td> <input type="checkbox" name="client_ids" value="{{client.id}}" onclick="handleCheckboxClick()"> </td>
                                    <td> {{client.number_display}} </td>
                                    <td class="client-name"> {{client.fullname}} </td>
                                    <td> {{client.contact_number}} </td>
                                    <td> {{client.address}} </td>
                                    <td> {{client.has_loan}} </td>
                                </tr>
                                {% endfor %}
                        </table>
                    </div>

                    <div class="filter-btn-div">
                        <p>Selected <span id = "selected-indicator"></span></p>
                        <div class="pagination">
                            <button type="button" onclick="handlePreviousPage()" class="btn btn-primary">
                                <i class="fa fa-angle-left"></i>
                            </button>
                            <span id="page-indicator"> 1 of 1 </span>
                            <button type="button" onclick="handlePreviousPage()" class="btn btn-primary">
                                <i class="fa fa-angle-right"></i>
                            </button>
                        </div>
                        <div > 
                            <button onclick="handleDeleteClients()"> Delete Selected Clients </button> 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


        <script> 
            {% include 'AgriTrust/script.html' %}
            var selected = 0; 
            var totalRows = 0;
            var selectedIds = [];

            function getTotalRows () {
                document.querySelectorAll(".client-row").forEach(row => {
                    totalRows++; 
                })
                console.log(selectedIds);
            }

            function setSelectedMarker(){
                document.getElementById("selected-indicator").innerHTML = selected + " of "  + totalRows;
            }

            function handleCheckboxClick(){

                document.querySelectorAll(".client-row").forEach(row => {
                    var client_id = row.children[0].children[0].value;
                    if (row.children[0].children[0].checked == true) {

                        if(selectedIds.includes(client_id) == false){
                            selectedIds.push(client_id);
                            selected++;
                            console.log("not here");
                            
                        }

                    }
                    else if (row.children[0].children[0].checked == false) {
                        if(selectedIds.includes(client_id) == true){
                            selectedIds.splice(selectedIds.indexOf(client_id), 1);
                            selected--;
                        }
                    }
                })

                console.log(selectedIds);

                setSelectedMarker();
            }
                    
            function handleSelectAllClick(){

                var selectAll = document.getElementById("select-all").checked

                if (selectAll == true) {
                    document.querySelectorAll(".client-row").forEach(row => {
                        row.children[0].children[0].checked = true
                    })
                }

                else if (selectAll == false) {
                    document.querySelectorAll(".client-row").forEach(row => {
                        row.children[0].children[0].checked = false
                    })
                }

                handleCheckboxClick();
            }
            
            function redirectToClientInfo(event, clientId) {
                if (event.target.type === "checkbox") {
                    return;
                }

                return window.location.href = 'clients/' + clientId;
            }

            async function handleDeleteClients() {
                
                const response = await fetch("{% url 'server_delete_client' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        'client_ids': selectedIds
                    })
                })

                const data = await response.json();

                if (data.status == 1) {
                    show_result_bar(true, "#action-result", data.status_message);
                    document.querySelectorAll(".client-row").forEach(row => {
                        if (row.children[0].children[0].checked == true) {
                            row.remove();
                        }
                    })
                }

                if (data.status == 0) {
                    show_result_bar(false, "#action-result", data.status_message);
                }



            }
            
            async function handleSearchClient() {
                
                const response = await fetch("{% url 'server_get_client_by_search' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        'name': document.getElementById("search-client").value,
                        'pagination' : 1, 
                        'loan_status' : document.getElementById("has-loan-select").value
                    })
                })    

                const data = await response.json();
                console.log(data);
                const clients = data["clients"];
                
                var table_body = document.getElementById("client-table-body");
                table_body.innerHTML = "";
                
                table_body.innerHTML += `
                    <tr>
                        <th> <input type="checkbox" id="select-all" onclick="handleSelectAllClick()"> </th>
                        <th> ID </th>
                        <th>Client Name</th>
                        <th> Contact Number </th>
                        <th> Address </th>
                        <th> Has Loan </th>
                    </tr>
                `

                for (client of clients) {
                    table_body.innerHTML += `
                    <tr 
                        class="client-row"
                        onclick='redirectToClientInfo(event, ${client.id})'
                    >   
                        <td> <input type="checkbox" name="client_ids" value="${client.id}" onclick="handleCheckboxClick()"> </td>
                        <td> ${client.number_display} </td>
                        <td class="client-name"> ${client.fullname} </td>
                        <td> ${client.contact_number} </td>
                        <td> ${client.address} </td>
                        <td> ${client.has_loan} </td>
                    </tr>
                    `
                }
            }

            getTotalRows();
            setSelectedMarker();
        </script> 

    </body>
</html>