<html>

    {% include 'AgriTrust/import.html' %}
    {% include 'AgriTrust/css.html' %}

    <style>
        .employees-div {
            .employees-cont {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            table {
                th {
                    background-color: var(--txt1);
                    color: var(--txt3);
                }
            }
        }
    </style>

    <body> 
        {% include 'AgriTrust/header.html' with user=user %}

        <div class="employees-div cont-body">
        
            <h5> Employees </h5>

            <div class="cont">
                <div class="employees-cont">

                    <div id = "action-result"> 

                    </div>

                    <div class="add-btn">
                        <button onclick="window.location.href='{% url 'employee_add' %}';"> Add Employee </button>
                    </div>

                    <div class="filter-btn-div">
                        <div class="search-cont">
                            <i class="fa fa-search"></i> 
                            <input type="text" oninput="handleSearchEmployee(1)" id="search-employee" placeholder="Search Employee"> 
                        </div>
                        
                        <select id = "type-select" oninput="handleSearchEmployee(1)"> 
                            <option value="all"> All </option>
                            <option value="admin"> Admin </option>
                            <option value="cashier"> Cashier </option>
                        </select>

                        <select id = "order-select" oninput = "handleSearchEmployee(1)"> 
                            <option value="asc"> Ascending </option>
                            <option value="desc"> Descending </option>
                        </select> 
                        
                        <select id = "sort-select" > 
                            <option value="client_name"> Client Name </option>
                        </select>
                    </div>
                    
                    <div>
                        <div class="table-div">
                            <table id = "employee-table" class = "table table-bordered table-hover table-responsive"> 
                                <tr> 
                                    <th> <input type="checkbox" id="select-all" onclick="handleSelectAllClick()"> </th>
                                    <th> ID </th>
                                    <th> Fullname </th>
                                    <th> Email </th>
                                    <th> Username </th>
                                    <th> Type </th>
                                    <th> Action </th>
                                </tr>
    
                                {%for employee in employees%}
                                    {% if user.id != employee.id %} 
                                        <tr class = "employee-row">
                                            <td> <input type="checkbox" id = "select-row" onclick="handleCheckboxClick()" value = "{{employee.id}}"> </td>
                                            <td> {{employee.number_display}} </td>
                                            <td> {{employee.fullname}} </td>
                                            <td> {{employee.email}} </td>
                                            <td> {{employee.username}} </td>
                                            <td> {{employee.type}} </td>
                                            <td> 
                                                <form id = "change-position-form" onsubmit="handleChangePosition(this, event)"> 
                                                    <input type="hidden" name = "id" value = "{{employee.id}}">
                                                    <select name = "type"> 
                                                        <option value = ""> Change position </option>
                                                        <option value = "cashier"> Cashier </option>
                                                        <option value = "admin"> Admin </option>
                                                    </select>
                                                    <input type = "submit"> 
                                                </form>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>

                    <div class="filter-btn-div">
                        <p>Selected <span id = "selected-indicator"></span></p>
                        <div class="pagination">
                            <button type="button" onclick="handlePreviousPage()" class="btn btn-primary">
                                <i class="fa fa-angle-left"></i>
                            </button>
                            <span id="page-indicator"> </span>
                            <button type="button" onclick="handleNextPage()" class="btn btn-primary">
                                <i class="fa fa-angle-right"></i>
                            </button>
                        </div>
                        <div > 
                            <button onclick="handleDeleteClients()"> Delete Selected Clients </button> 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


        <script> 
            {% include 'AgriTrust/script.html' %}
            var selected = 0; 
            var totalRows = 0;
            var selectedIds = [];
            var currentPage = 1; 
            var totalPage = {{ total_page }};

            function getTotalRows () {
                document.querySelectorAll(".employee-row").forEach(row => {
                    totalRows++; 
                })
                setSelectedMarker();
            }

            function setSelectedMarker(){
                document.getElementById("selected-indicator").innerHTML = selected + " of "  + totalRows;
            }

            function handleCheckboxClick(){

                document.querySelectorAll(".employee-row").forEach(row => {
                    var client_id = row.children[0].children[0].value;
                    if (row.children[0].children[0].checked == true) {

                        if(selectedIds.includes(client_id) == false){
                            selectedIds.push(client_id);
                            selected++;
                            console.log("not here");
                            
                        }

                    }
                    else if (row.children[0].children[0].checked == false) {
                        if(selectedIds.includes(client_id) == true){
                            selectedIds.splice(selectedIds.indexOf(client_id), 1);
                            selected--;
                        }
                    }
                })

                console.log(selectedIds);

                setSelectedMarker();
            }
                    
            function handleSelectAllClick(){

                var selectAll = document.getElementById("select-all").checked

                if (selectAll == true) {
                    document.querySelectorAll(".employee-row").forEach(row => {
                        row.children[0].children[0].checked = true
                    })
                }

                else if (selectAll == false) {
                    document.querySelectorAll(".employee-row").forEach(row => {
                        row.children[0].children[0].checked = false
                    })
                }

                handleCheckboxClick();
            }
            

            async function handleDeleteEmployees() {
                
                const response = await fetch("{% url 'server_delete_employee' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        'employee_ids': selectedIds
                    })
                })

                const data = await response.json();

                if (data.status == 1) {
                    show_result_bar(true, "#action-result", data.status_message);
                    document.querySelectorAll(".employee-row").forEach(row => {
                        if (row.children[0].children[0].checked == true) {
                            row.remove();
                        }
                    })
                }

                else if (data.status == 0) {
                    show_result_bar(false, "#action-result", data.status_message);
                }

            }
            
            async function handleSearchEmployee(page) {
                
                const response = await fetch("{% url 'server_get_employee_by_search' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        'name': document.getElementById("search-employee").value,
                        'pagination' : page, 
                        'order' : document.getElementById("order-select").value,
                        'type' : document.getElementById("type-select").value,
                        'permission' : '{{permission}}',
                        'id' : '{{user.id}}'
                    })
                })    

                const data = await response.json();
                console.log(data);
                const employees = data["employees"];

                currentPage = data.pagination; 
                totalPage = data.total_page;
                
                var table_body = document.getElementById("employee-table");
                table_body.innerHTML = "";
                
                table_body.innerHTML += `
                    <tr>
                        <th> <input type="checkbox" id="select-all" onclick="handleSelectAllClick()"> </th>
                        <th> ID </th>
                        <th> Fullname </th>
                        <th> Email </th>
                        <th> Username </th>
                        <th> Type </th>
                        <th> Action </th>
                    </tr>
                `

                for (employee of employees) {
                    if (employee.id == '{{user.id}}') continue; 

                    table_body.innerHTML += `
                    <tr class = "employee-row">
                        <td> <input type="checkbox" id = "select-row" onclick="handleCheckboxClick()"> </td>
                        <td> ${employee.number_display} </td>
                        <td> ${employee.fullname} </td>
                        <td> ${employee.email} </td>
                        <td> ${employee.username} </td>
                        <td> ${employee.type} </td>
                        <td> 
                            <form id = "change-position-form" onsubmit="handleChangePosition(this, event)"> 
                                <input type="hidden" name = "id" value = "${employee.id}">
                                <select name = "type"> 
                                    <option value = ""> Change position </option>
                                    <option value = "cashier"> Cashier </option>
                                    <option value = "admin"> Admin </option>
                                </select>
                                <input type = "submit"> 
                            </form>
                        </td>
                    </tr>
                    `
                }

                updatePaginationDisplay();
                getTotalRows();
            }

            async function handleChangePosition(form, event){
                event.preventDefault();
                
                console.log("click")
                formData = new FormData(form);

                const response = await fetch("{% url 'server_change_employee_position' %}", {
                    method: "POST",
                    body: formData,
                    headers : {
                        'X-CSRFToken': "{{csrf_token}}",
                    }
                })

                const data = await response.json();

                console.log(data);

                if (data.status == 1){
                    show_result_bar(true, "#action-result", data.status_message);
                    var row = form.closest("tr");
                    var employeeTypeTd = row.querySelectorAll("td")[5]; 
                    employeeTypeTd.innerHTML = data.type;

                }

                else{
                    show_result_bar(false, "#action-result", data.status_message);
                }



            }
            
            function handlePreviousPage(){
                if (currentPage > 1){
                    currentPage--;
                    handleSearchEmployee(currentPage);
                }

            }

            function handleNextPage(){
                console.log("click");
                if (currentPage < totalPage){
                    currentPage++;
                    handleSearchEmployee(currentPage);
                }

            }

            function updatePaginationDisplay(){
                const page_indicator = document.getElementById("page-indicator");
                page_indicator.innerHTML = currentPage + " of " + totalPage;
            }

            getTotalRows();
            updatePaginationDisplay();
            
        </script> 
    </body>
<html>