<html>

    {% include 'AgriTrust/import.html' %}
    {% include 'AgriTrust/css.html' %}

    <body> 
        {% include 'AgriTrust/header.html' %}

        <div>
        
            <h5> Employees </h5>

            <div>
                <div>

                    <div>
                        <button onclick="window.location.href='{% url 'employee_add' %}';"> Add Employee </button> 
                    </div>
                    
                    <div>
                        <table class = "table table-bordered table-hover table-responsive"> 
                            <tr> 
                                <th> <input type="checkbox" id="select-all" onclick="handleSelectAllClick()"> </th>
                                <th> ID </th>
                                <th> Fullname </th>
                                <th> Email </th>
                                <th> Username </th>
                                <th> Type </th>
                            </tr>

                            {%for employee in employees%}
                            <tr class = "employee-row">
                                <td> <input type="checkbox" id = "select-row" onclick="handleCheckboxClick()"> </td>
                                <td> {{employee.id}} </td>
                                <td> {{employee.fullname}} </td>
                                <td> {{employee.email}} </td>
                                <td> {{employee.username}} </td>
                                <td> {{employee.type}} </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div>
                        <p id = "selected-indicator"> </p>
                        <div > 
                            <button onclick="handleDeleteClients()"> Delete Selected Employee </button> 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


        <script> 
            var selected = 0; 
            var totalRows = 0;
            var selectedIds = [];

            function getTotalRows () {
                document.querySelectorAll(".employee-row").forEach(row => {
                    totalRows++; 
                })
            }

            function setSelectedMarker(){
                document.getElementById("selected-indicator").innerHTML = selected + " of "  + totalRows;
            }

            function handleCheckboxClick(){

                document.querySelectorAll(".employee-row").forEach(row => {
                    var client_id = row.children[1].textContent;
                    if (row.children[0].children[0].checked == true) {

                        if(selectedIds.includes(client_id) == false){
                            selectedIds.push(client_id);
                            selected++;
                            console.log("not here");
                            
                        }

                    }
                    else if (row.children[0].children[0].checked == false) {
                        if(selectedIds.includes(client_id) == true){
                            selectedIds.splice(selectedIds.indexOf(client_id), 1);
                            selected--;
                        }
                    }
                })

                console.log(selectedIds);

                setSelectedMarker();
            }
                    
            function handleSelectAllClick(){

                var selectAll = document.getElementById("select-all").checked

                if (selectAll == true) {
                    document.querySelectorAll(".employee-row").forEach(row => {
                        row.children[0].children[0].checked = true
                    })
                }

                else if (selectAll == false) {
                    document.querySelectorAll(".employee-row").forEach(row => {
                        row.children[0].children[0].checked = false
                    })
                }

                handleCheckboxClick();
            }
            
            // function redirectToClientInfo(event, clientId) {
            //     if (event.target.type === "checkbox") {
            //         return;
            //     }

            //     return window.location.href = 'clients/' + clientId;
            // }

            // async function handleDeleteClients() {
                
            //     const response = await fetch("{% url 'server_delete_client' %}", {
            //         method: 'POST',
            //         headers: {
            //             'Content-Type': 'application/json',
            //             'X-CSRFToken': '{{ csrf_token }}'
            //         },
            //         body: JSON.stringify({
            //             'client_ids': selectedIds
            //         })
            //     })

            //     await response.json();

            //     return window.location.href = "{% url 'client_list' %}";

            // }
            
            // async function handleSearchClient() {
                
            //     const response = await fetch("{% url 'server_get_client_by_search' %}", {
            //         method: 'POST',
            //         headers: {
            //             'Content-Type': 'application/json',
            //             'X-CSRFToken': '{{ csrf_token }}'
            //         },
            //         body: JSON.stringify({
            //             'name': document.getElementById("search-client").value,
            //             'pagination' : 1, 
            //             'loan_status' : document.getElementById("has-loan-select").value
            //         })
            //     })    

            //     const data = await response.json();
            //     console.log(data);
            //     const clients = data["clients"];
                
            //     var table_body = document.getElementById("client-table-body");
            //     table_body.innerHTML = "";
                
            //     table_body.innerHTML += `
            //         <tr>
            //             <th> <input type="checkbox" id="select-all" onclick="handleSelectAllClick()"> </th>
            //             <th> ID </th>
            //             <th>Client Name</th>
            //             <th> Contact Number </th>
            //             <th> Address </th>
            //             <th> Has Loan </th>
            //         </tr>
            //     `

            //     for (client of clients) {
            //         table_body.innerHTML += `
            //         <tr 
            //             class="client-row"
            //             onclick='redirectToClientInfo(event, ${client.id})'
            //         >   
            //             <td> <input type="checkbox" name="client_ids" value="${client.id}" onclick="handleCheckboxClick()"> </td>
            //             <td> ${client.number_display} </td>
            //             <td class="client-name"> ${client.fullname} </td>
            //             <td> ${client.contact_number} </td>
            //             <td> ${client.address} </td>
            //             <td> ${client.has_loan} </td>
            //         </tr>
            //         `
            //     }
            // }

            getTotalRows();
            setSelectedMarker();
        </script> 
    </body>
<html>