<html>

    <body> 
        {% include 'AgriTrust/header.html' with user=user %}
        {% include 'AgriTrust/css.html' with user=user %}

        <div class="reg-employee-div reg-div cont-body">
            <a href = "{% url 'employee_list' %}"> &lt; Back </a> <br><br>

            <div class="cont">
                <h4> Add <span> Employee </span></h4>

                <div id = "action-result"> </div>

                <form id = "add-employee-form"> 
                    <div class="input-div">
                        <label class="label" for="email">Email:</label>
                        <input class="input" id="email" name="email" required>
                    </div>
                    <div class="input-div">
                        <label class="label" for="username">Username:</label>
                        <input class="input" id="username" name="username" required>
                    </div>
                    <div class="input-div">
                        <label class="label" for="password">Password:</label>
                        <input class="input" id="password" name="password" required>
                    </div>
                    <div class="input-div">
                        <label class="label" for="first_name">First Name:</label>
                        <input class="input" id="first_name" name="first_name" required>
                    </div>
                    <div class="input-div">
                        <label for="middle_name">Middle Name:</label>
                        <input type="text" id="middle_name" name="middle_name" required>
                    </div>
                    <div class="input-div">
                        <label for="last_name">Last Name:</label>
                        <input type="text" id="last_name" name="last_name" required>
                    </div>
                    <div class="input-div">
                        <label for="type">Type:</label>
                        <select id="type" name="type" required> 
                            <option value="cashier"> Cashier/Collector</option>
                            <option value="admin"> Admin </option>
                        </select>
                    </div>
                    <div class="btn-div">
                        <button onclick="submitEmployeeForm(event)"> Submit </button>
                    </div>
                </form>
            </div>
        </div>

        <script>

            {% include 'AgriTrust/script.html' %}

            const submitEmployeeForm = async (e) => {
                e.preventDefault(); 
                const form = document.getElementById("add-employee-form")
                const formData = new FormData(form); 

                const response = await fetch("{% url 'server_add_employee' %}", {
                    method: "POST",
                    body: formData, 
                    headers : {
                        'X-CSRFToken': "{{csrf_token}}"
                    }

                })

                const data = await response.json();
                
                console.log(data)

                if (data.status == 1) {
                    show_result_bar(true, "#action-result", data.status_message);
                }

                else {
                    show_result_bar(false, "#action-result", data.status_message);
                }

                form.reset();
                
            }
        </script> 
    </body>
</html>