<html>

  <body>
    {% include 'AgriTrust/header.html' with user=user %}
    {% include 'AgriTrust/css.html' with user=user %}

    <div class="reg-loan-div reg-div cont-body">
      <a href = "{% url 'loan_list' %}"> &lt; Back </a> <br><br>

      <div class="cont">
        <h4> Add <span> Loan </span></h4>

        <div id = "action-result"></div>

        <form method="POST" id = "addLoanForm">
          {% csrf_token %}
          <div class="input-div">
              <label for="client_id">Client Name:</label> 
              <input list="options" id="client_name" name="client_name" placeholder="Search Client">
    
              <datalist id="options">
                {% for client in clients %}
                  <option value="{{client.fullname}}"> </option>
                {%endfor%}
              </datalist>
          </div>
          <div class="input-div">
              <label for="loan_term">Loan Term:</label>
              <select id="loan_term" name="loan_term" required>
              {% for value, label in loan_terms_choices %}
                  <option value="{{ value }}">{{ label }}</option>
              {%endfor%}
              </select>
          </div>
          <div class="input-div">
              <label for="amount_loaned">Amount:</label>
              <input type="text" id="amount_loaned" name="amount_loaned" required>
          </div>
          <div class="input-div">
              <label for="interest_percentage">Interest Percentage:</label>
              <select id="interest_percentage" name="interest_percentage" required>
                <option value=2.5> 2.5% </option>
                <option value=5> 5% </option>
                <option value=7.5> 7.5% </option>
                <option value=10> 10% </option>
              </select>
          </div>
          <div class="input-div">
              <label for="interest_mode">Interest Mode:</label>
              <select id="interest_mode" name="interest_mode" required>
              {% for value, label in interest_mode_choices %}
                <option value="{{ value }}">{{ label }}</option>
              {%endfor%}
              </select>
          </div>
          <div class="btn-div">
            <button type="button" onclick = "submitLoanForm(event)">Submit</button>
          </div>
        </form>
      </div>
    </div>
    
    <script>
      {% include 'AgriTrust/script.html' %}
      const submitLoanForm = async (e) => {
        e.preventDefault(); 
        const form = document.getElementById("addLoanForm")
        const formData = new FormData(form); 

        const response = await fetch("{% url 'server_add_loan' %}", {
            method: "POST",
            body: formData, 
            headers : {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            }

        })

        const data = await response.json();

        console.log(data); 

        if (data.status == 1) {
          show_result_bar(true, "#action-result", data.status_message);
        }

        else {
          show_result_bar(false, "#action-result", data.status_message);
        }
        
    }

    </script>

  </body>
  
</html>

