<html>

    <body> 
        {% include 'AgriTrust/header.html' with user=user %}

        <div>
            <a href = "{% url 'employee_list' %}"> &lt; Back </a> <br><br>

            <div>
                <h4> Add Employee</h4>

                <form id = "add-employee-form"> 
                    <div class="employee-input-div">
                        <label class="label" for="email">Email:</label>
                        <input class="input" id="email" name="email" required>
                    </div>
                    <div class="employee-input-div">
                        <label class="label" for="username">Username:</label>
                        <input class="input" id="username" name="username" required>
                    </div>
                    <div class="employee-input-div">
                        <label class="label" for="password">Password:</label>
                        <input class="input" id="password" name="password" required>
                    </div>
                    <div class="employee-input-div">
                        <label class="label" for="first_name">First Name:</label>
                        <input class="input" id="first_name" name="first_name" required>
                    </div>
                    <div class="employee-input-div">
                        <label for="middle_name">Middle Name:</label>
                        <input type="text" id="middle_name" name="middle_name" required>
                    </div>
                    <div class="employee-input-div">
                        <label for="last_name">Last Name:</label>
                        <input type="text" id="last_name" name="last_name" required>
                    </div>
                    <div class="employee-input-div">
                        <label for="type">Type:</label>
                        <select id="type" name="type" required> 
                            <option value="cashier"> Cashier/Collector</option>
                            <option value="admin"> Admin </option>
                        </select>
                    </div>
                    <button onclick="submitEmployeeForm(event)"> Submit </button>
                </form>
            </div>
        </div>

        <script>

            const submitEmployeeForm = async (e) => {
                e.preventDefault(); 
                const form = document.getElementById("add-employee-form")
                const formData = new FormData(form); 

                const response = await fetch("{% url 'server_add_employee' %}", {
                    method: "POST",
                    body: formData, 
                    headers : {
                        'X-CSRFToken': "{{csrf_token}}"
                    }

                })

                const data = await response.json();
                
                console.log(data)

                if (data.status == 1) {
                    window.location.href = "{% url 'client_list' %}"
                }
                
            }
        </script> 
    </body>
</html>